<div ng-controller="DocenteController">
	<ul>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body row">
            	<div class="col-md-10">Panel content</div>
                <div class="col-md-2">
                	<button type="button" class="btn btn-success">Aceptar</button>
					<button type="button" class="btn btn-danger">Rechazar</button>
                </div>
            </div>
        </div>
    </ul>
</div>


