<div ng-controller="DocenteController" ng-init="get_Anuncio_by_id()">
  <h2 id="titulos2"><center>Anuncios</center></h2>
  <button ng-click="showAnuncio()" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> {{texto_boton_anuncio}}
  </button>
  </br>
  </br>
  <div>        
    <div class="check-element animate-show" ng-show="banderaAnuncios1">    
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Formulario de Anuncio</h3>
        </div>
        <div class="panel-body">
            <center>
                   <h1><center>Control de Anuncios</center></h1>
                   <p>Titulo</p>
                   <input type= "text" ng-model="anuncios.titulo">
                  
                    <br>
                    <p>Descripcion</p>
                    <TEXTAREA cols=70 rows=10 Name="Texto" ng-model="anuncios.des" required></TEXTAREA>
                    <span ng-show="Texto.$error.required">Name is required.</span>
                    <h1></h1>
                    <button class="button-select btn btn-success" ng-click="crear_anuncio()">Guardar anuncio</button>
              </center>
             <hr size="10px" color="black" />
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" ng-repeat="u in todoLosAnuncios.slice().reverse()">
    <div class="panel-heading">
        <h3 class="panel-title">{{u.titulo}}</h3>       
    </div>
    <div class="row panel-body">
      <textarea style="background-color:#FFFFFF"  rows=3 class="col-xs-12" Name="Texto" disabled>{{u.descripcion}}</textarea>
    </div>
  </div>
</div>