<div ng-controller="DocenteController" ng-init="llenarNota(tarea)">
    <h2>Notas</h2>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Solución</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in llenadoNota">
                    <td>{{n.Nombre}}</td>
                    <td><a ng-click="decode(n.Solucion.respuesta,n.Solucion.nombreArchivo)">{{n.Solucion.nombreArchivo}}</a></td>
                    <td>
                      <button ng-click="LowerGrade(n)" class="botonesFactura btn glyphicon glyphicon-menu-down"></button>
                      <input readonly="" type="text" value={{n.Solucion.nota}} ng-pattern="/0-9/"></input>
                      <button ng-click="IncreaseGrade(n)" class="botonesFactura btn glyphicon glyphicon-menu-up"></button>
                    </td>
                    <td>
                      <button class="btn btn-danger" ng-click="updateNota(n,n.Solucion.nota)">Modificar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
