<div id="wrapper" ng-controller="DocenteController" ng-init="cambiar_div('docente_anuncios')">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>



          <div class="row">
                <div class="navbar-brand ">
                        <img  style=" height:30px"src="scripts/controllers/Estilo_home/img/EstrellaSinFondo.gif">
                    </div>
                   <div ng-controller="UsersController">
                    <ul class="nav navbar-right pull-right top-nav">
                        <li data-toggle="modal" data-target="#PopCrearCursos" ng-click="actualDate()">
                            <a>Crear Cursos</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{$sessionStorage.currentUser.email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-click="logout()">
                                    <a><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
           </div>



        <!-- Top Menu Items -->
     
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li ng-click="goMain()">
                    <a><i class="fa fa-fw fa-dashboard" ></i>Inicio</a>
                </li>
                <li class="active" ng-click="cambiar_div('docente_anuncios')" >
                    <a><i class="fa fa-fw fa-wrench">Anuncios</i></a>
                </li>
                <li ng-click="cambiar_div('comentarios')" >
                    <a><i class="fa fa-fw fa-comments"></i>Foro</a>
                </li>
                <li ng-click="cambiar_div('docente_confirmacion')" >
                    <a><i class="fa fa-fw fa-4table">Confirmación</i></a>
                </li>
                <li ng-click="cambiar_div('docente_participantes')" >
                    <a><i class="fa fa-fw fa-wrench">Participantes</i></a>
                </li>
                <li ng-click="cambiar_div('docente_tareas')" >
                    <a><i class="fa fa-fw fa-wrench">Tareas</i></a>
                </li>
                <li ng-click="cambiar_div('docente_notas')" >
                    <a><i class="fa fa-fw fa-wrench">Notas</i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal" id="PopCrearCursos" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div id="CursosContainerCreate" class="modal-body row">
                    <h4 class="Centrar">Crear Curso</h4>
                    <div class ="row Centrar">
                        <label class="col-md-4">Nombre</label>
                        <input class="col-md-6 Centrar" ng-model = "curso.nombre"type="text" placeholder="Nombre del Curso..">
                    </div>
                    </br>
                    <div class="row Centrar">
                        <label class="col-md-4">Año</label>
                        <input class="col-md-6 Centrar" ng-model = "curso.year"type="text" disabled="disabled">
                    </div>
                    </br>
                    <div class = "row Centrar">
                        <label class="col-md-4">Trimestre</label>
                        <input class="col-md-6 Centrar" ng-model = "curso.trimestre"type="text" disabled="disabled">
                    </div>
                    </br>
                </div>
                <div class="modal-footer">
                  <button type="button"  class="btn btn-primary" data-dismiss="modal" ng-click="crearCursos()">Crear</button>
                  <button type="button" ng-click="clearCreateCurso()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
              </div>

            </div>
        </div>
    <div id="page-wrapper">
         <div class="container-fluid">
            <div class="top_marg" ng-include="template"></div>
        </div>
    </div>
</div>
