<div ng-controller="EstudianteController">
	<div>
		<h2>Matrícula</h2>
		<input type="text">
			<span>
				<button type="button" class="glyphicon glyphicon-plus btn btn-sm btn-danger"></button>
			</span>
		</input>	
	</div>
	<div >
        <h2>Cursos disponibles</h2>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Trimestre</th>
                        <th>Maestro</th>
                    </tr>
                </thead>
                <tbody><!--falta ng-repeat pero no esta BD-->
                    <tr>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>