<div ng-controller="EstudianteController" ng-init="llenarNota()">
    <h2 id="titulos2"><center>Notas</center></h2>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Nota</th>
                    <th>Maximo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in llenadoNota">
                    <td>{{n.titulo}}</td>
                    <td>{{n.nota}}</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
