<div ng-controller="EstudianteController" ng-init="visualizarEstudiantes()">
	<h2 id="titulos2"><center>Participantes</center></h2>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Completo</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estudiante in AllEstudiantes">
                    <td>{{estudiante.Id_estudiante}}</td>
                    <td>{{estudiante.nombre}} {{estudiante.apellido}} </td>
                    <td>{{estudiante.email}}@escuela.com </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>