<div ng-controller="EstudianteController" ng-init="getCursosByUniversidad()">
	<div>
		<h2 id="titulos2"> <center>Matrícula</center></h2>
	</div>
	<div >
        <h3>Cursos disponibles</h3>
        <div class="table-responsive">
            <table class="table table-hover table-striped" >
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Año</th>
                        <th>Trimestre</th>
                        <th>Docente</th>
                    </tr>
                </thead>
                <tbody><!--falta ng-repeat pero no esta BD-->
                    <tr ng-repeat="curso in CursosByU">
                        <td>{{curso.course.nombre}}</td>
                        <td>{{curso.course.year}}</td>
                        <td>{{curso.course.trimestre}}</td>
                        <td>{{curso.docente.nombre}} {{curso.docente.apellido}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="matricular(curso.course._id)">
                                Matricular
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>