<div ng-controller="EstudianteController" ng-init="getCursosByUniversidad()">
	<div>
		<h2>Matrícula</h2>
	</div>
	<div >

<!-- prueba de comentarios-->

<!--<button  ng-cloak  ng-click="delete(data)" ng-show="data.nodes.length > 0 && isFirst(data)">Delete nodes</button>*/-->
<script type="text/ng-template"  id="tree_item_renderer.html">
	{{data.name}}
	<div>
	<button ng-cloak ng-show="isFirst(data)"ng-click="enableReply(data)">reply</button>
	</div>
	<div>
	<textarea ng-cloak ng-if="data.showReply" id="txtcomment" placeholder="Your Comment" ></textarea></div>

	<button ng-cloak ng-if="data.showReply" ng-click="add(data)">Agregar Comentario</button>
	</div>
	<ul>
			<li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'">
			</li>
	</ul>

</script>
<h2>Comentarios</h2>

	<textarea id="first_txtcomment" placeholder="Your Comment" ></textarea>
	<button ng-click="addFirst()">Agregar Comentario</button>
<ul>
	<div ng-repeat="data in tree" ng-include="'tree_item_renderer.html'">
	</div>
</ul>

<!--
<div ng-controller="treeController">

<div class="button_panel">
	<input type="button" value="EDIT NODE" data-ng-click="mode = 'editNode'" data-ng-disabled="!mytree.currentNode" /> <input type="button" value="ADD CHILD" data-ng-click="mode = 'addChild'" data-ng-disabled="!mytree.currentNode" />

		<div class="input_panel" data-ng-show="mode == 'editNode'">
			<h4>Selected Node</h4>
				<label>ID</label> <input data-ng-model="mytree.currentNode.id" disabled/><br />
				<label>Label</label> <input data-ng-model="mytree.currentNode.label" /><br />
				<input type="button" value="DONE" class="done_button" data-ng-click="done()">
		</div>

		<div class="input_panel" data-ng-show="mode == 'addChild'">
			<h4>New Node</h4>
				<label>ID</label> <input data-ng-model="temporaryNode.id" /><br />
				<label>Label</label> <input data-ng-model="temporaryNode.label" /><br />
				<input type="button" value="DONE" class="done_button" data-ng-click="addChildDone()">
		</div>


/*
	[TREE attribute]
	angular-treeview: the treeview directive
	tree-id : each tree's unique id.
	tree-model : the tree model on $scope.
	node-id : each node's id
	node-label : each node's label
	node-children: each node's children*/

<div
	data-angular-treeview="true"
	data-tree-id="mytree"
	data-tree-model="roleList">
</div>
</div>
-->
<!--fin prueba de comentarios -->
        <h2>Cursos disponibles</h2>
        <div class="table-responsive">
            <table class="table table-hover table-striped" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Trimestre</th>
                        <th>Maestro</th>
                    </tr>
                </thead>
                <tbody><!--falta ng-repeat pero no esta BD-->
                    <tr ng-repeat="curso in CursosByU">
                        <td>{{curso.course.nombre}}</td>
                        <td>{{curso.course.year}}</td>
                        <td>{{curso.course.trimestre}}</td>
                        <td>{{curso.docente.nombre}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="matricular(curso.course._id)">
                                Matricular
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
