<div ng-controller="EstudianteController" ng-init= "tieneSolucion(tarea._id,usuario.IdUser)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3  class="Centrar panel-title">Tarea {{indice + 1}}</h3>
        </div>
        <div class="panel-body">
          <div class ="row Centrar">
            	<label class="col-md-4">Fecha Entrega: </label>
            	<label class="col-md-4">{{tarea.fecha_entrega}}</label>
          </div>
        	<div class ="row Centrar">
            	<form >
                	<label class="col-md-4">Instrucciones: </label>
                    <a class="col-md-4" ng-click="decode(tarea.archivo,tarea.nombre)"> {{tarea.nombre}}</a>
                </form>
          </div>
          <div class ="row Centrar">
            	<form >
                	<label class="col-md-4">Tarea Subido: </label>
                    <a class="col-md-4" ng-click="decode(solucionDisponible.respuesta,solucionDisponible.nombreArchivo)">
                       {{solucionDisponible.nombreArchivo}}
                     </a>
                </form>
          </div>
          <div class="row Centrar" ng-click="divSubirSolucion()" ng-cloak ng-hide="divSubir == true">
          	<button class="btn btn-danger">Subir Solucion</button>
          </div>
          <div class="row Centrar" ng-cloak ng-hide="divSubir == false">
          	<div class="row Centrar">
          		<label class="col-md-5"></label>
          		<input class="col-md-4"	 type="file">
          	</div>
          	<div class="row Centrar">
              	<button class="btn btn-danger" ng-click="uploadAnswer(selected.value=$index)">Upload</button>
              	<button class="btn btn-danger" ng-click="divSubirSolucion()">Cancelar</button>
          	</div>
          </div>
       </div>
    </div>
</div>
