<div class=" container loginmodal"  ng-controller="UsersController" >
    <div class="row">
        <div class="col-md-2"></div>
        <div class="loginmodal-container center-block col-md-8  col-xs-12">
            <form>
                <label id="logo-letras">Usuario:</label>
                <input type="text" placeholder="Usuario.." ng-model="user.username">
                <label>Contraseña:</label>
                <input type="password" placeholder="Contraseña.." ng-model="user.password">
                <input ng-click="signUp()" type="submit"  class="login loginmodal-submit" value="Login"  >
            </form>
        </div>
    </div>
</div>
