<div class=" container loginmodal"  ng-controller="UsersController" >
    <div class="row">
        <div class="col-md-2"></div>
        <div class="loginmodal-container center-block col-md-8  col-xs-12">
        	<div ng-cloak ng-show="selectButton()">
        		<button class="button-select btn btn-success" ng-click="seleccionar(1)">Docente</button>
            	<button class="button-select btn btn-primary" ng-click="seleccionar(2)">Estudiante</button>	
        	</div>
           	<div ng-cloak ng-show="pressDocente()">
           		<label>ID</label>
           		<input type="text" placeholder="ID.." >
       		</div>
       		<div ng-cloak ng-show="!selectButton()">
           		<label>Nombre</label>
           		<input type="text" placeholder="Nombre.." >
           		<label>Apellido</label>
           		<input type="text" placeholder="Apellido.." >
           		<label>Especialidad</label>
           		<input type="text" placeholder="Especialidad.." >
           		<label>Universidad</label>
           		<div>
           			<select class = "university-combobox">
					  <option value="volvo">Opción</option>
					</select>
					<button class = "button-select btn btn-danger glyphicon glyphicon-plus"
					 ng-cloak ng-show="pressDocente()"></button>
           		</div>
           		
           	</div>
           	<div ng-cloak ng-show="selectButton()">
           		<button class="button-select btn btn-danger" ng-click="cancel_registration()">Cancelar</button>
           	</div>          	

           	<div ng-cloak ng-show="!selectButton()">
           		<button class="button-select btn btn-danger" ng-click= 'retroceder()'>Retroceder</button>
           	</div>
        </div>
    </div>
</div>


