<nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Cambiar Navegacion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="row" ng-click="goHome()" onmouseover="" style="cursor: pointer;">
                    <img style=" height:60px"src="scripts/controllers/Estilo_home/img/EstrellaSinFondo.gif">
                </div>
                </br>
            </div>
        </nav>
<div class="container  loginmodal"  ng-controller="UsersController" >
  	<div class="row container">
     	<div class="col-md-2"></div>
    	<div class="loginmodal-container center-block col-md-8  col-xs-12">
    		<div class="row">
                <img style=" height:80px"src="scripts/controllers/Estilo_home/img/EstrellaNegra.gif">
            </div>
  	  		<div ng-cloak ng-show="selectButton()">
  		  		<button class="button-select btn btn-success" ng-click="seleccionar(1)">Docente</button>
      			<button class="button-select btn btn-primary" ng-click="seleccionar(2)">Estudiante</button>
  	  		</div>
	  		<div class="alert alert-danger" ng-cloak ng-show="verifyRegistro()">
                <strong>ERROR!</strong> Vuelva a revisar los campos.
            </div>
            <div class="alert alert-danger" ng-cloak ng-show="verifyEmail()">
                <strong>ERROR!</strong> El email que ingreso ya ha sido tomado.
            </div>
            <div class="alert alert-danger" ng-cloak ng-show="verifyUniversidad()">
                <strong>ERROR!</strong> La universidad que ingreso ya existe en nuestro base de dato.
            </div>
      		<div ng-cloak ng-show="!selectButton()">
        		<label>Nombre</label>
	            <input ng-model = "user.nombre" type="text" placeholder="Nombre..." >
	            <label>Apellido</label>
	            <input ng-model = "user.apellido"type="text" placeholder="Apellido.." >
	            <div ng-cloak ng-show="pressDocente()">
	              <label>Especialidad</label>
	              <input ng-model = "user.especialidad"type="text" placeholder="Especialidad..." >
	            </div>
	            <label>Email</label>
	            <div class = "row ">
	            	<div class="col-md-8 ">
	            		<input ng-model = "user.email" type="text" placeholder="Correo..." >
	            	</div>
	              	<div class="col-md-4 ">
	              		<label >@escuela.edu</label>
	              	</div>
	              	
	            </div>
	            <label>Contraseña</label>
	            <input  ng-model = "user.password"type="password" placeholder="Contraseña..." >

	            <label>Universidad</label><!--CAMBIO A UNIVERSIDAD!-->
	            <div class="row">
	              	<div class=" col-md-12 ">
	                 	<select ng-model = "user.universidad_cb" class="form-control " ng-change="verifyOtros(user.universidad_cb)">
	                    	<option ng-value="Otro">Otro</option>
	                    	<option ng-repeat="universidad in universidades" >
						      		{{universidad.Nombre}}
						    </option>
	                  	</select>


	              	</div>  
	            </div>

	            <div class="row" ng-cloak ng-show="pressUniversidad()">
	            	<br></br>
	            	<div class ="col-md-3"> 
	            		<label>Nombre:</label>
	            	</div>
	              	<div  class=" col-md-9">
	                	<input ng-model = "user.universidad_txt" type="text" placeholder="Universidad..." >
	              	</div>
	            </div> 
	              
	        </div>

         	<div ng-cloak ng-show="selectButton()">
         		<button class="button-select btn btn-danger" ng-click="cancel_registration()">Cancelar</button>
         	</div>

         	<div ng-cloak ng-show="!selectButton()">
         		<button class="button-select btn btn-success" ng-click="register()">Registrar</button>
         		<button class="button-select btn btn-danger" ng-click= 'retroceder()'>Retroceder</button>
         	</div>
  		</div>

  	</div>
  	 <footer class="">
            
        </footer>
</div>


